.swiper {
  margin: 30px 0;
  background-color: #ffa60021;
  text-align: center;
}

.item {
  padding: 20px;
  border-radius: 5px;
  height: 100%;
  margin: 20px 0 30px;
}

.item:hover {
  transform: scale(1.02);
  background-color: orange;
}
