.list {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.item {
  max-width: 200px;
  width: 100%;
  padding: 20px;
  background-color: rgba(255, 166, 0, 0.556);
  border-radius: 5px;
  transition: transform 0.5 ease-in-out;
}

.item:hover {
  transform: scale(1.05);
}
